body{
background-color: #a4c8da;

outline:none;
}

.main-page{
    padding-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.block1{
    width: 770px;
    border-radius:4px;
    float:left;
    padding-top: 15px;
    border-radius: .4em;
    margin: auto;
    margin-right:5%;
    margin-bottom: 5%;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}



.block2{
border-radius:4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
	background-color: #ffffff;
	width: 170px;
	height: 10px;
	float:left;
    margin-top: 15px;
	padding-bottom: 60px;
    margin-left: 30px;

}

.block3{
    border-radius:4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: #ffffff;
    width: 310px;
    height: 20px;
    float:left;
    margin-top: 30px;
    padding-bottom: 60px;
    margin-left: 20px;
}

.end{
	margin-bottom: 10px;
}
.input-style{
font-family:Arial;
color:black;
  padding-left: 10px;
}

.bluebutton {

 background-color: #1678c2;
    border: none;
    color: white;
    height:33px;
    width: 72px;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    margin: 1px 1px;
cursor: pointer;
box-shadow: 0 3px #27496d;
border-radius: 2px;
}

.bluebutton:hover{
background-color:#154e79;
}

.bluebutton:active{
	background-color:#104b78;
}

input[type="text"]{
	padding-left: 2px;
	font-family: Calibri;
	font-size: 20px;
	width: 655px;
	height: 30px;
	color: #000000;
	border-radius: 2px;
	border: 1.55px solid #cccccc;
	outline-style: none;
	text-align: left;
}
.block1 li{
float: none;
background-color:white;
border-top:1px solid #bfbfbf;
border-bottom:0.75px solid #bfbfbf;
border-radius: 2px;
width: 770px;
height: 65px;
font-family: Calibri;
font-size: 14px;
list-style-type: none;
}


.block1 ul{
    padding-left: 0;
}

.box {
display: inline-block;
padding-top: 20px;
padding-left: 100px;
padding-bottom: 20px;
}

.input-b {

padding-left: 30px;
   padding-top: 30px;
	font-size: 1.2em;
	height:13px;
	width:100px;
	background-color: #ffffff;
	text-align: center;
	border-width: 0;
	color: #5d5d5d;
	outline-style: none;
}

.input-bb {
    padding-left: 30px;
    padding-top: 10px;
    height:13px;
    width:100px;
    background-color: #ffffff;
    text-align: center;
    border-width: 0;
    color: #5d5d5d;
    outline-style: none;
    text-decoration: line-through;
    display: none;
    font-size: 17px;
    font-family: Calibri;
}





.input-c {
	font-size: 1.2em;
	height:40px;
	width:40px;
	background-color: #dbdbdb;
	border-radius:4px;
	text-align: center;
	border-width: 0;
	color: #5d5d5d;
    margin:0 10px 0 10px;
	outline-style: none;
}


label {
	display: block;
	font-size: .8em;
}

.but {
	height:30px;
	width:30px;
	border-radius:30px;
	font-size:15px;
	color:white;
	border:none;
	text-align: center;
}

.up{
 background-color:#3c9a16;  
 box-shadow: 0 2px #296610;
}
.down{
    background-color:#de1e1e;
    box-shadow: 0 2px #b80808;
}

.up:active{
	background-color: #296610;
}
.down:active{
    background-color: #b80808;
}

.box-hide .but{
	display:none;
}
.buy-button{
background-color: #e4e4e4;
    border: 30px;
    border-color:  #d2d2d2;
    border-radius: 5px;
    color: #5d5d5d;
    height:33px;
    width: 82px;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    margin: 1px 1px;
cursor: pointer;
box-shadow: 0 2px #d2d2d2;
margin-left: 300px;
}

.buy-button-not{
background-color: #e4e4e4;
    border: 30px;
    border-color:  #d2d2d2;
    border-radius: 5px;
    color: #5d5d5d;
    height:33px;
    width: 110px;
    padding: 12px 12px;
    text-decoration: none;
    display:inline-block;
    font-family: Arial;
    font-size: 14px;
    margin: 1px 1px;
    display:none;
cursor: pointer;
box-shadow: 0 2px #d2d2d2;
    margin-left: 380px;
}


.x-but{
    border: 30px;
    border-color:  #d2d2d2;
    border-radius: 5px;
    height:33px;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    margin: 1px 1px;
    cursor: pointer;
	color: white;
	margin-left: 10px;
	height: 33px;
	width: 33px;
	box-shadow: 0 2px #b80808;
	 background-color: #de1e1e;
}

.but-block{
	height:30px;
	width:30px;
	border-radius:30px;
	font-size:15px;
	color:white;
	border:none;
	text-align: center;
	background-color: #d78e9f;
	box-shadow: 0 2px #d78e9f;
}

.like-buy-block{
	display: inline-block;
	padding-right: 40px;
	display: block;
	font-size: 1.2em;
	height:27px;
	width:27px;
	background-color: #dbdbdb;
	border-radius:4px;
	text-align: center;
	border-width: 0;
	color: #5d5d5d;
	margin:0 10px 0 10px;
	outline-style: none;
}

.third{
	margin-left: 55px;
}

.act:hover{
background-color: #b3b3b3;
color:black;
box-shadow: 0 2px #767676;
opacity: 0.75;
	}

.act:active{
	background-color: #b3b3b3;
color:black;
box-shadow: 0 2px #767676;
opacity: 1;
}



h3{
	text-align: center;
	margin-right: 15px;

	margin-top: 25px;
	font-family: Arial;
	font-size: 20px;
}

.bb{
margin-left: -40px;
bottom:30px;
float: none;
background-color:white;
border-top:1px solid #bfbfbf;
border-bottom:0.75px solid #bfbfbf;
border-radius: 2px;
width: 310px;
height: 180px;
font-family: Calibri;
font-size: 14px;
list-style-type: none;
}

.need-to-buy{
	top:15px;
	right: 35px;
	position: relative;
	margin-left:2px;

    margin-bottom: 3px;
	padding-top:17px;
padding-bottom:17px;
padding-left:5px;
padding-right: 39px;
	height: 10px;
	font-size: 15px;
	text-align: left;
	width: 100px;
	border-radius: 9px;
	background-color:#dbdbdb;
    list-style-type: none;
    font-family: Arial;
    float:none;
}
.counter{
	position: absolute;
	height: 30px;
	width: 30px;
	border-radius:30px;
	text-align: center;
	font-size: 25px;
	background-color: #ff8a00;
	color:white;
	top:7px;
	right:10px;
}

.had-to-buy{
	text-decoration:line-through;
    display:none;

}
.booo{
	text-decoration:line-through;
}

