body{
background-color: #DADADA;
}


#simplestylish {
}

.block1{
 border-radius:4px;
    padding: 15px;
    margin:auto;
    margin-bottom: 60%;
    margin-top: 6.5%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    float:left;
    margin-left: 10.5%;
background-color: #ffffff;
width: 740px;
height: 40px;
}


#simplestylish1 {
    border-radius:4px;
    padding: 15px;
    margin:auto;
    margin-bottom:50%;
    margin-top: 9.5%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    float:left;
    margin-left: 3%;
}

.block2{
	background-color: #ffffff;
	width: 100px;
	height: 50px;
	margin-right: 10%;
}

#simplestylish1 h6{
	/*margin-top: 20px;*/
	padding-bottom: 20px;
	font-family: Arial;
}


.input-style{
font-family:Arial;
color:black;
}

.bluebutton {

 background-color: #1678c2;
    border: none;
    color: white;
    height:33px;
    width: 72px;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    margin: 1px 1px;
cursor: pointer;
box-shadow: 0 3px #27496d;
border-radius: 2px;
}

.bluebutton:hover{
background-color:#154e79;
}

.bluebutton:active{

	background-color:#104b78;
}

input[type="text"]{
	padding-left: 2px; 
	margin-top: 3px;
	font-family: Calibri;
	font-size: 20px;
	width: 655px;
	height: 30px;
	color: #000000;
	border-radius: 2px;
	border: 1.55px solid #cccccc;
	outline-style: none;
	text-align: left;
}
.block1 li{
	float: left;
background-color:white;
border-top:1px solid #bfbfbf;
border-bottom:0.75px solid #bfbfbf;
border-radius: 2px;
width: 770px;
height: 65px;
font-family: Calibri;
font-size: 14px;
list-style-type: none;
}


.block1 ul{
	margin-left: -15px;
    padding-left: 0;
}

.box {
display: inline-block;
padding-top: 10px;
padding-left: 200px;
padding-bottom: 10px;
}

.input-b {
padding-top: 30px;
padding-left: 10px;
	font-size: 1.2em;
	height:13px;
	width:100px;
	background-color: #ffffff;
	text-align: center;
	border-width: 0;
	color: #5d5d5d;
	outline-style: none;
}



.already-bought{
	border-top:0.75px solid #bfbfbf;
	border-bottom:0.75px solid #bfbfbf;
	background-color: red;
	height: 50px;
	width: 100px;

}


.input-c {
	font-size: 1.2em;
	height:27px;
	width:27px;
	background-color: #dbdbdb;
	border-radius:4px;
	text-align: center;
	border-width: 0;
	color: #5d5d5d;
	margin:0 10px 0 10px;
	outline-style: none;
}


label {
	display: block;
	font-size: .8em;
}

.but {
	height:30px;
	width:30px;
	border-radius:30px;
	font-size:15px;
	color:white;
	border:none;
	text-align: center;

}

#up{
 background-color:#3c9a16;  
 box-shadow: 0 3px #296610;
}
#down{
    background-color:#de1e1e;
    box-shadow: 0 3px #b80808;
}

#up:active{
	background-color: #296610;
}
#down:active{
    background-color: #b80808;
}

.box-hide .but{
	display:none;
}
.buy-button{
background-color: #e4e4e4;
    border: 30px;
    border-color:  #d2d2d2;
    border-radius: 5px;
    color: #5d5d5d;
    height:33px;
    width: 82px;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    margin: 1px 1px;
cursor: pointer;
box-shadow: 0 3px #d2d2d2;
margin-left: 180px;
}
#x-but{
	color: white;
	margin-left: 10px;
	height: 33px;
	width: 33px;
	box-shadow: 0 3px #b80808;
	 background-color: #de1e1e;
}